@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz');

*{
	box-sizing: border-box;
}

img{
	display: block;
	max-width: 100%;
}

h1, h2, h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
}

h4{
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
} 

h5{
    background-color: #333;
    color: #000 !important;
    text-align: center;
    font-size: 30px;
} 

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;	
}

/*Estilos del header*/
.header{
	height: 60px;
}

.header.contenedor, .curriculum.card{
	display: flex;
}

.logo{
	margin: 5px;
	color: #fff;
}

/*Estilos de banner*/
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
}


/*Otros*/
.bg-2 {
			background:#731145;
			color:#2c70a2;
}

.bg-2 h3 {
        color:#2c70a2 ;
}
		
.bg-2 button {
	background:#731145;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
        
.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.container {
    padding: 80px 120px;
}











